.frame-1000006591,
.frame-1000006591 * {
  box-sizing: border-box;
}
.frame-1000006591 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 467px;
  position: relative;
}
.group-1000004287 {
  flex-shrink: 0;
  width: 209px;
  height: 88px;
  position: static;
}
.satellites-for {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--h4-font-family, "Poppins-Medium", sans-serif);
  font-size: var(--h4-font-size, 33px);
  line-height: var(--h4-line-height, 120%);
  letter-spacing: var(--h4-letter-spacing, 0.25px);
  font-weight: var(--h4-font-weight, 500);
  position: absolute;
  left: 0px;
  top: 0px;
}
.life-sciences {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--h4-font-family, "Poppins-Medium", sans-serif);
  font-size: var(--h4-font-size, 33px);
  line-height: var(--h4-line-height, 120%);
  letter-spacing: var(--h4-letter-spacing, 0.25px);
  font-weight: var(--h4-font-weight, 500);
  position: absolute;
  left: 0px;
  top: 48px;
}
.frame-1000006590 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.research-sat-empowers-your-space-biology-research-with-seamless-end-to-end-solutions {
  text-align: right;
  font-family: var(--b1-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--b1-font-size, 16px);
  line-height: var(--b1-line-height, 130%);
  letter-spacing: var(--b1-letter-spacing, 0.5px);
  font-weight: var(--b1-font-weight, 400);
  position: relative;
  width: 188px;
}
.research-sat-empowers-your-space-biology-research-with-seamless-end-to-end-solutions-span {
  color: var(--ared-400, #ff3241);
}
.research-sat-empowers-your-space-biology-research-with-seamless-end-to-end-solutions-span2 {
  color: var(--white, #ffffff);
}
.button {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 1px;
  padding: 14px 28px 14px 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 229px;
  height: 40px;
  min-width: 120px;
  position: relative;
}
.explore-payloads {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--s2-font-family, "Poppins-Medium", sans-serif);
  font-size: var(--s2-font-size, 14px);
  line-height: var(--s2-line-height, 120%);
  letter-spacing: var(--s2-letter-spacing, 0.1px);
  font-weight: var(--s2-font-weight, 500);
  position: relative;
}
