// Colors
$primary-color: #17242D;
$secondary-color: #5f7371;
$accent-color: #ff3241;
$turquoise: #0E7369;
$white: #ffffff;
$dark-gray: #393939;
$light-gray: #626262;

// Typography
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-tertiary: 'Quicksand', sans-serif;

// Font weights
$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// Breakpoints
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 3.875rem;
